@charset "utf-8";


@import url("../gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}






@font-face {font-family: 'Peace Sans';src: url('../font/Peace Sans.otf') format('truetype'); font-style: normal;}

/******************************************************************************
******************************************************************************* reset {
*******************************************************************************/
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em;font-family: 'Archivo','Pretendard', dotum, sans-serif;}
html, body {overflow-x:hidden;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Archivo','Pretendard', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul {margin:0;padding:0;list-style:none}
ol,li,dl,dt,dd {margin:0;padding:0} 
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:'Archivo','Pretendard', dotum, sans-serif;font-size:1em}
button {cursor:pointer}
textarea, select {font-family:'Archivo','Pretendard', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}

*, :after, :before {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

input[type=text],input[type=password], textarea {
-webkit-transition:all 0.30s ease-in-out;
-moz-transition:all 0.30s ease-in-out;
-ms-transition:all 0.30s ease-in-out;
-o-transition:all 0.30s ease-in-out;
outline:none;
}
 
input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {
-webkit-box-shadow:0 0 5px #9ed4ff;
-moz-box-shadow:0 0 5px #9ed4ff;
box-shadow:0 0 5px #9ed4ff;
border:1px solid #558ab7 !important;
}
.sound_only {display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;
line-height:0;border:0 !important;overflow:hidden !important}

/******************************************************************************
******************************************************************************* core {
*******************************************************************************/
.hide{display:none !important;}
.show{display: block !important;}
.img__descrip{display: none !important;}
.h100{height:100%;}
 
.visible1440{display:none;}
.visible1280{display:none;}
.visible1024{display:none;}
.visible768{display:none;}
.visible570{display:none;}
.visible480{display:none;}
.visible320{display:none;}

@media screen and (max-width:1440px){
   .hidden1440{display:none;}
   .visible1440{display:block;}
}
@media screen and (max-width:1280px){
   .hidden1280{display:none;}
   .visible1280{display:block;}
}
@media screen and (max-width:1024px){
   .hidden1024{display:none;}
   .visible1024{display:block;}
}
@media screen and (max-width:768px){
   .hidden768{display:none;}
   .visible768{display:block;}
}
@media screen and (max-width:570px){
   .hidden570{display:none;}
   .visible570{display:block;}
}
@media screen and (max-width:480px){
   .hidden480{display:none;}
   .visible480{display:block;}
}
@media screen and (max-width:320px){
   .hidden320{display:none;}
   .visible320{display:block;}
}

.pdt__00px{padding-top:00px;}
.pdt__05px{padding-top:05px;}
.pdt__10px{padding-top:10px;}
.pdt__15px{padding-top:15px;}
.pdt__20px{padding-top:20px;}
.pdt__25px{padding-top:25px;}
.pdt__30px{padding-top:30px;}
.pdt__35px{padding-top:35px;}
.pdt__40px{padding-top:40px;}
.pdt__45px{padding-top:45px;}
.pdt__50px{padding-top:50px;}

.pdb__00px{padding-bottom:00px;}
.pdb__05px{padding-bottom:05px;}
.pdb__10px{padding-bottom:10px;}
.pdb__15px{padding-bottom:15px;}
.pdb__20px{padding-bottom:20px;}
.pdb__25px{padding-bottom:25px;}
.pdb__30px{padding-bottom:30px;}
.pdb__35px{padding-bottom:35px;}
.pdb__40px{padding-bottom:40px;}
.pdb__45px{padding-bottom:45px;}
.pdb__50px{padding-bottom:50px;}

.pdt__05per{padding-top:05%;}
.pdt__10per{padding-top:10%;}
.pdt__15per{padding-top:15%;}
.pdt__20per{padding-top:20%;}
.pdt__25per{padding-top:25%;}
.pdt__30per{padding-top:30%;}
.pdt__35per{padding-top:35%;}
.pdt__40per{padding-top:40%;}
.pdt__45per{padding-top:45%;}
.pdt__50per{padding-top:50%;}

.pdb__05per{padding-bottom:05%;}
.pdb__10per{padding-bottom:10%;}
.pdb__15per{padding-bottom:15%;}
.pdb__20per{padding-bottom:20%;}
.pdb__25per{padding-bottom:25%;}
.pdb__30per{padding-bottom:30%;}
.pdb__35per{padding-bottom:35%;}
.pdb__40per{padding-bottom:40%;}
.pdb__45per{padding-bottom:45%;}
.pdb__50per{padding-bottom:50%;}

.mgt__00px{margin-top:00px;}
.mgt__05px{margin-top:05px;}
.mgt__10px{margin-top:10px;}
.mgt__15px{margin-top:15px;}
.mgt__20px{margin-top:20px;}
.mgt__25px{margin-top:25px;}
.mgt__30px{margin-top:30px;}
.mgt__35px{margin-top:35px;}
.mgt__40px{margin-top:40px;}
.mgt__45px{margin-top:45px;}
.mgt__50px{margin-top:50px;}

.mgb__00px{margin-bottom:00px;}
.mgb__05px{margin-bottom:05px;}
.mgb__10px{margin-bottom:10px;}
.mgb__15px{margin-bottom:15px;}
.mgb__20px{margin-bottom:20px;}
.mgb__25px{margin-bottom:25px;}
.mgb__30px{margin-bottom:30px;}
.mgb__35px{margin-bottom:35px;}
.mgb__40px{margin-bottom:40px;}
.mgb__50px{margin-bottom:50px;}

.mgt__05per{margin-top:05%;}
.mgt__10per{margin-top:10%;}
.mgt__15per{margin-top:15%;}
.mgt__20per{margin-top:20%;}
.mgt__25per{margin-top:25%;}
.mgt__30per{margin-top:30%;}
.mgt__35per{margin-top:35%;}
.mgt__40per{margin-top:40%;}
.mgt__45per{margin-top:45%;}
.mgt__50per{margin-top:50%;}

.mgb__05per{margin-bottom:05%;}
.mgb__10per{margin-bottom:10%;}
.mgb__15per{margin-bottom:15%;}
.mgb__20per{margin-bottom:20%;}
.mgb__25per{margin-bottom:25%;}
.mgb__30per{margin-bottom:30%;}
.mgb__35per{margin-bottom:35%;}
.mgb__40per{margin-bottom:40%;}
.mgb__45per{margin-bottom:45%;}
.mgb__50per{margin-bottom:50%;}

.hgt__100per{height:100%;}
.border__box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.clearfix:after{content:""; display:block; clear:both;}
.clearfix{zoom:1;}

/* 
	text setting 
*/
.tcr__main{color: #F4281F;}
.tcr__sub01{color: #F4281F;}
.t__left{text-align:left;}
.t__cen{text-align:center;}
.t__right{text-align:right;}
:root {
  --f10px: 10px;
  --f11px: 11px;
  --f12px: 12px;
  --f13px: 13px;
  --f14px: 14px;
  --f15px: 15px;
  --f16px: 16px;
  --f17px: 17px;
  --f18px: 18px;
  --f19px: 19px;
  --f20px: 20px;
  --f21px: 21px;
  --f22px: 22px;
  --f23px: 23px;
  --f24px: 24px;
  --f25px: 25px;
  --f26px: 26px;
  --f27px: 27px;
  --f28px: 28px;
  --f29px: 29px;
  --f30px: 30px;
  --f32px: 32px;
  --f34px: 34px;
  --f36px: 36px;
  --f38px: 38px;
  --f40px: 40px;
  --f42px: 42px;
  --f44px: 44px;
  --f46px: 46px;
  --f48px: 48px;
  --f50px: 50px;
  --f60px: 60px;
  
  --color__basic: #212121;
  --color__main: #F4281F;
  --color__sub01: #F4281F;
  --color__hover: #212121;
  --color__white: #fff;
  
  --hd__tophgt: 40px;
  --hd__bothgt: 90px;
  --hd__bschgt: 40px;
}
@media screen and (max-width:1600px){
   :root {
      --f70px: 60px;      
   }
}
@media screen and (max-width:1440px){
   :root {
      --f70px: 55px;
      --f60px: 45px;
      --f60px: 45px;
      --f50px: 40px;
      --f30px: 26px;
      --f16px: 14px;
      --f18px: 16px;
   }
}
@media screen and (max-width:1280px){
   :root {
      --f26px: 22px;      
   }
}
@media screen and (max-width:1024px){
   :root {
      --f70px: 48px;
      --f60px: 40px;
      --f50px: 32px;
   }
}
@media screen and (max-width:768px){
   :root {
         --f70px: 42px;
         --f60px: 36px;
         --f50px: 30px;
         --f30px: 24px;        
      }
}
@media screen and (max-width:570px){
   :root {
         --f70px: 38px;
      }
}
@media screen and (max-width:480px){
   :root {
     --f10px: 2.7vw;
     --f11px: 2.9vw;
     --f12px: 3.2vw;
     --f13px: 3.5vw;
     --f14px: 3.7vw;
     --f15px: 4.0vw;
     --f16px: 4.3vw;
     --f17px: 4.5vw;
     --f18px: 4.8vw;
     --f19px: 5.1vw;
     --f20px: 5.3vw;
     --f21px: 5.5vw;
     --f22px: 5.8vw;
     --f23px: 6vw;
     --f24px: 6.4vw;
     --f25px: 6.6vw;
     --f26px: 6.8vw;
     --f27px: 7.2vw;
     --f28px: 7.4vw;
     --f29px: 7.8vw;
     --f30px: 8.0vw;
     --f32px: 8.2vw;
     --f34px: 8.4vw;
     --f36px: 8.6vw;
     --f38px: 8.8vw;
     --f40px: 9vw;
     --f42px: 9.2vw;
     --f44px: 9.4vw;
     --f46px: 9.6vw;
     --f48px: 9.8vw;
     --f50px: 10vw;
     --f60px: 10.2vw;
     --f70px: 14.2vw;
   }
}

/* 
   center box style 
*/
.inner__box{position:relative; width:100%; margin: 0 auto;}
.inner__full{position:relative; width:100%; margin: 0 auto;}

.inner__cen768{position:relative; width:90%; max-width:768px; margin: 0 auto;}
.inner__cen860{position:relative; width:90%; max-width:860px; margin: 0 auto;}
.inner__cen888{position:relative; width:90%; max-width:888px; margin: 0 auto;}
.inner__cen980{position:relative; width:90%; max-width:980px; margin: 0 auto;}
.inner__cen1190{position:relative; width:95%; max-width:1190px; margin: 0 auto;}
.inner__cen1240{position:relative; width:90%; max-width:1240px; margin: 0 auto;}
.inner__cen1250{position:relative; width:90%; max-width:1250px; margin: 0 auto;}
.inner__cen1320{position:relative; width:90%; max-width:1320px; margin: 0 auto;}
.inner__cen1400{position:relative; width:90%; max-width:1400px; margin: 0 auto;}
.inner__cen1420{position:relative; width:90%; max-width:1420px; margin: 0 auto;}
.inner__cen1495{position:relative; width:95%; max-width:1495px; margin: 0 auto;}
.inner__cen1640{position:relative; width:90%; max-width:1640px; margin: 0 auto;}
.inner__cen1750{position:relative; width:95%; max-width:1750px; margin: 0 auto;}
.inner__cen1800{position:relative; width:95%; max-width:1800px; margin: 0 auto;}

.inner__cen1840{position:relative; width:100%; max-width:1840px; margin: 0 auto;}

.inner__cen1850{position:relative; width:95%; max-width:1850px; margin: 0 auto;}
.inner__cen1920{position:relative; width:95%; max-width:1920px; margin: 0 auto;}

.inner__wcen768{position:relative; width:100%; max-width:768px; margin: 0 auto;}
.inner__wcen980{position:relative; width:100%; max-width:980px; margin: 0 auto;}
.inner__wcen1200{position:relative; width:100%; max-width:1200px; margin: 0 auto;}
.inner__wcen1400{position:relative; width:100%; max-width:1400px; margin: 0 auto;}
.inner__wcen1700{position:relative; width:100%; max-width:1700px; margin: 0 auto;}
.inner__wcen1800{position:relative; width:100%; max-width:1800px; margin: 0 auto;}
.inner__wcen1850{position:relative; width:100%; max-width:1850px; margin: 0 auto;}
.inner__wcen1920{position:relative; width:100%; max-width:1920px; margin: 0 auto;}

@media screen and (max-width:1840px){
.inner__cen1840{width:90%;}
}/*768*/
@media screen and (max-width:570px){
}/*570*/
